*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*height: 100%;*/
}

body {
    background: #2d2e2e;
    color: #979899;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    font-family: 'Smooch', cursive;
    /*font-family: 'Trispace', sans-serif;*/
    /*font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    line-height: 1.75;
}
